<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center">Form đăng ký người dùng</h1>
<form action="/user/create" method="post" th:object="${userDto}">
    <div class="mb-3 row m-2" style="position: relative">
        <label th:for="firstName" class="col-sm-2 col-form-label">First Name: </label>
        <div class="col-sm-10 mb-3">
            <input class="form-control" th:field="*{firstName}" type="text">
            <p th:errors="*{firstName}" style="position: absolute" class="text-danger"></p>
        </div>
    </div>
    <div class="mb-3 row m-2" style="position: relative">
        <label th:for="lastName" class="col-sm-2 col-form-label">Last Name: </label>
        <div class="col-sm-10 mb-3">
            <input class="form-control" th:field="*{lastName}" type="text">
            <p th:errors="*{lastName}" style="position: absolute" class="text-danger"></p>
        </div>
    </div>
    <div class="mb-3 row m-2" style="position: relative">
        <label th:for="phoneNumber" class="col-sm-2 col-form-label">Phone Number: </label>
        <div class="col-sm-10 mb-3">
            <input class="form-control" th:field="*{phoneNumber}" type="text">
            <p th:errors="*{phoneNumber}" style="position: absolute" class="text-danger"></p>
        </div>
    </div>
    <div class="mb-3 row m-2" style="position: relative">
        <label th:for="age" class="col-sm-2 col-form-label">Age: </label>
        <div class="col-sm-10 mb-3">
            <input class="form-control" th:field="*{age}" type="text">
            <p th:errors="*{age}" style="position: absolute" class="text-danger"></p>
        </div>
    </div>
    <div class="mb-3 row m-2" style="position: relative">
        <label th:for="email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10 mb-3">
            <input class="form-control" th:field="*{email}" type="text">
            <p th:errors="*{email}" style="position: absolute" class="text-danger"></p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    <input class="btn btn-success" type="submit" value="Submit">
    </div>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>